@model IEnumerable<tcc_in305b.Models.Nota>

@{
    ViewData["Title"] = "Index";
}

<h1>Critérios de avaliação</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i>Criar</a>
</p>
<table class="table" style="max-height: 200px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Treinador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Treinador.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
